@page "/qr-creator"
<h3>QR Code in Blazor</h3>
<div class="row">
    <div class="col-5">
        <input type="text" value="@QRCode" @onchange="@QRCodeChanged" style="width:100%" />
    </div>
    <div class="col-1">
        <button @onclick="(()=>GenerateClicked?.Invoke())">@GenerateButtonText</button>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col">
        <label>@EccLevelLabelText</label>
        <select @onchange="@LevelChanged">
            @foreach (var item in EccLevels)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>

</div>
<div class="row" style="margin-top:10px;">
    <div class="col-3">
        <label>@PrimaryColorLabelText (@HexPrimaryColor)</label>
        <input type="color" @onchange="@PColorChanged"  style="width:50%" />
    </div>
    <div class="col-3">
        <label>@BackgroundColorLabelText (@HexBackgroundColor)</label>
        <input type="color"  @onchange="@BgColorChanged" style="width:50%" />
    </div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="col-6">
        <img src="@QRCodeImage64" />
    </div>
</div>